---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const identity = {
  firstName: "Mike",
  country: "USA",
  occupation: "Wizard",
  hobbies: ["photography", "astronomy", "golf"],
};

const skills = [
  "Excel",
  "Google AppSheet",
  "Video Production",
];

const happy = true;
const finished = false;
const doneby: number = 2;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <style is:global define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    <BaseLayout pageTitle={pageTitle}>
        <p>I want to showcase some of the things I've worked on in my roll as an educator and tech coordinator.</p>
        <p>I really like spreadsheets.</p>
        <p>Here are a few facts about me:</p>
            <ul>
                <li>My name is {identity.firstName}.</li>
                <li>I live in {identity.country} and I work as a {identity.occupation}</li>
                {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
                }
            </ul>
        <p>My skills are:</p>
            <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>
        <p>Am I happy? {happy ? "Yes" : "No"}</p>
        {happy && <p>I am happy to be learning Astro!</p>}
      </BaseLayout>
	</body>
</html>
